@charset "UTF-8";
/*生徒用コレクションページのCSS*/
/*背景色*/
/*生徒用ページは共通背景*/

/*使った色*/
/*#FFB347 yellow orange*ボタン/
/*#00552e black green*黒板/
/*#DC8551 orange brown 枠線とかアクセントカラーに*/
/*#C0CDDC */

/* ステータスのテーブル全体 */
.status-section table {
  font-size: 2rem; /* もともと0.9emくらいなら大きく */
  width: 80%;        /* テーブル幅も広げる */

}


.status-section {
  margin-top: 80px;   /* 上にスペース */
  margin-bottom: 80px; /* 下にもスペース */
  padding: 20px;       /* 内側の余白も追加すると余裕ができる */
  border-radius: 20px;
   width:30%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color:#C0CDDC;
  border-collapse: collapse;
  
}
	

html, body {
  height: 100%;
  overflow-x: hidden;
}

.page-frame {
  min-height: 100vh;                 /* 画面の高さまで確保 */
  border: 3px solid #DC8551;
  margin: 0;
  padding: 0px;           
  box-sizing: border-box;
  background-color: black green;
}

/* ロッカー全体共通 */

.locker-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 横3列 */
  gap: 4px;
  width: min(60vw, 1000px);
 
  aspect-ratio: 1 / 1;                  /* 全体を正方形に */
  margin: 0 auto;
  padding: 10px;
  border: 8px double black;
  box-sizing: border-box;
}

/* 各マス（ロッカー） */
.locker {
  padding-top:100%;
  aspect-ratio: 1 / 1;                  /* 正方形 */
  background-color: #C0CDDC;
  border: 2px double black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}



.locker img {
  width: 80%;     
   aspect-ratio: 1 / 1;       /* 高さは自動でアスペクト比を保つ */
  object-fit: contain; /* はみ出さず収まる */
  display: block;    /* 不要な下余白をなくす */
}


.locker-container {
  width: 100%;
  display: block;
 
}

.locker-container h2 {
  text-align: center;
}




/* トロフィー画像 */
.trophy-img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
  margin-bottom:5px;
}

/* 空マス */
.empty-locker {
  background-color: #f0e6d2;
  border-style: dashed;
  aspect-ratio: 1 / 1;
  
}

.locker p {
  margin: 0;
  font-size: 0.8em;
}

.locker:nth-child(4n) {
  border-right: 2px double black !important; /* 最終列の右ボーダーを強制表示 */
}

.status-section h2 {
  text-align: center !important;
}


.status-section table {
               
  margin: 0 auto;            /* 中央寄せ */
}

.status-section th, .status-section td {
 
  text-align: center;        /* ここが中央揃え */
}





