@charset "UTF-8";
/*保護者用本の一覧ページのCSS*/
/*背景色*/
/*生徒用本一覧と共通*/

/*使った色*/
/*#FFB347 yellow orange*ボタン/
/*#00552e black green*黒板/
/*#DC8551 orange brown 枠線とかアクセントカラーに*/
/*#C0CDDC */

.main-content { 
  background-color:#F2AA43;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F2AA43;
}

.book-list {
  display: flex;
  flex-wrap: wrap;            /* 折り返し可 */
  justify-content: center;
  gap: 0px;            
  padding: 0;         /* 画面の端と本の間に余白 */
  margin: 0 auto;      /* 中央寄せのためのマージン */
  max-width: 1000px;
  
}
.book-item { 
	display: flex;
	flex-direction: column; 
	margin: 10px;
	text-align: center;
  	width: 18%;
  	height: 260px;
    text-align: center;
    justify-content: flex-end;
}

.book-item img {
  margin-top: auto;           
}

.book-title {
	display: inline-block; 
	max-width: 120px;
  
}

.book-separator {
  border: none;
  border-top: 50px solid #A1550D;
  margin: 20px 40px;
}

.pagenation {
  display: flex;
  justify-content: center;      /* 横方向中央寄せ */
  align-items: center;          /* 縦方向中央寄せ */
  gap: 12px;                   /* 要素間のスペース */
  margin: 20px 0;              /* 上下の余白 */
  flex-wrap: wrap;             /* 幅狭いときに折り返し対応 */
}

.pagenation a:hover {
  background-color: #eee;
}

.page-select-form {
  margin: 0;
}

.page-select-form label {
  margin-right: 6px;
  font-weight: bold;
}

.page-select-form select {
  padding: 4px 8px;
  font-size: 1em;
}


	