@charset "UTF-8";

.book-detail-box {
  border: 2px solid #ccc;      
  border-radius: 8px;         
  padding: 50px;               
  background-color: #fff;      
  max-width: 600px;            
  margin: 20px auto; 
  text-align: center;  
           
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.book-detail-box form {
  margin: 10px 0; /* 上下に20pxの余白 */
}

