@charset "UTF-8";

/*管理者のホーム用CSS*/
/*背景色*/
/*生徒用ページは共通背景*/



.main-content {
  background-color: #00552e;
  padding:95px;
}


html, body {
  height: 100%;
   margin: 0;
   padding: 0;
   background-color: #00552e;
}

.page-frame {
  min-height: 100vh;                 /* 画面の高さまで確保 */
  border: 3px solid #DC8551;
  margin: 0;
  padding: 0px;           
  box-sizing: border-box;
  background-color: black green;
}

.wrapper {
  text-align: center;
  color: black;	
  border: 2px solid #ccc;      
  border-radius: 8px;         
  padding: 50px;               
  background-color: #fff;      
  max-width: 800px;            
  margin: 20px auto; 
  text-align: center;  
  
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}

.wrapper form {
  margin: 10px 0; /* 上下に20pxの余白 */
}



table, th, td {
  text-align: center;

  padding:  30px;  

}


table {
  margin-left: auto;
  margin-right: auto;
}

